.container-index {
    height: 100vh;
}

body {
    background-color: #f8f9fa;
    /* Couleur de fond */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Hauteur plein écran */
    background: url('texture.jpg') center center fixed;
    /* Fond texturé */
    background-size: cover;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.9);
    /* Fond du formulaire semi-transparent */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 800px;
}

.login-form input,
.login-form button {
    margin-bottom: 10px;
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-out;
}

.jumbotron {
    background-image: url('https://source.unsplash.com/1600x900/?nature');
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}




